.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.hardware {
  padding: 0 1rem;
  font-family: sans-serif;
}

.reg {
  display: inline-block;
  width: 4rem;
  padding: .25rem;
  background: #888;
  border: 1px solid #1e1e1e;
}
